@use '../../assets/scss/Config.scss' as *;

.userDetailsContainer {
  position: relative;

  img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;

    @include responsive(tablet) {
      width: 100%;
    }
  }
}

/* About Me 
---------------------*/
.aboutText {
  h3 {
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 6px;

    @include responsive(tablet) {
      font-size: 35px;
      text-align: center;
    }
  }

  p {
    font-size: 18px;
    max-width: 450px;
  }
}

.aboutList {
  padding-top: 10px;

  .media {
    padding: 5px 0;
  }

  label {
    color: #20247b;
    font-weight: 600;
    margin: 0;
    position: relative;
  }

  p {
    margin: 0 0 0 10px;
    font-size: 15px;
    display: inline-block;
  }
}

@media (max-width: 991px) {
  .aboutAvatar {
    margin-top: 30px;
  }
}
